name: CI
on:
  push:
  pull_request:
permissions:
  contents: read
jobs:
  check-flake-inputs:
    name: Check Flake Inputs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Check Flake Inputs
        uses: DeterminateSystems/flake-checker-action@main
        with:
          fail-mode: true
  check-formatting:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.FONTS_SSH_KEY }}
      - name: Check Formatting
        run: nix fmt -- --ci
